[Desktop Entry]
Name=Firefox
Comment=Firefox
Exec=/usr/bin/firefox
Icon=/usr/local/firefox/browser/chrome/icons/default/default64.png
Terminal=false
StartupNotify=true
Type=Application
Categories=Network;WebBrowser;